# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.idea/
coretypes/
# due to using tox and pytest
.tox
.cache
test*.py
js/node_modules/
js/package-lock.json
js/test.js
js/signer.js
*test.py